.page {
    display: grid;
    grid-template-columns: 5fr 6fr;
}

.container {
    height: 100%;
    padding: 15% 10% 0 10%;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-black);
}

.description {
    margin-top: 0.5em;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-gray);
}

.form {
    margin-top: 2em;
}

.banner {
    width: 100%;
    height: calc(100vh - 80px);
}

.error {
    margin: 1em 0 0.5em 0;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--color-red)
}

.hidden {
    display: none;
}

@media screen and (max-width: 960px) {

    .page {
        display: block;
        background-image: url('../../assets/images/banner.png');
        height: calc(100vh - 80px);
    }

    .banner {
        display: none;
    }

    .container {
        padding: 15% 10%;
        background: linear-gradient(to bottom, 
        var(--color-white) 50%,   /* Cor sólida nos primeiros 90% */
        rgba(0, 128, 255, 0) 100%   /* Transparência nos últimos 10% */
        );
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 1.25rem;
    }
    
    .description {
        font-size: 0.75rem;
    }
}