.container {
    height: 5em;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 4fr 4fr 3fr;
    gap: 2em;
    align-items: center;
}

.select {
    border: none;
    outline: none;
    text-transform: uppercase;
    width: fit-content;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--color-black);
    cursor: pointer
}

.description {
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--color-gray);
}

.label {
    display: block;
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--color-black);
}

@media screen and (max-width: 1024px) {
    .container {
        margin-top: 1em;
        margin-bottom: 0.5em;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: start;
    }

    .select {
        font-size: 0.9rem;
    }
}